* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 900px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.square {
    width: 40px;
    height: 40px;
    background-color: #1d1d1d;
    box-shadow: 0 0 2px #000;
    margin: 2px;
    transition: 0.2s ease;
}

.square:hover {
    transition: 0;
}