* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

section {
    height: 100vh;
}

#home {
    background: linear-gradient(to right, #4daf54, #3d8880);
    color: white;
    padding: 100px;
}

#home h1 {
    font-size: 50px;
    margin-bottom: 30px;
}

#home .description {
    font-size: 20px;
}

#about {
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    background: #242628;
    padding: 20px;
    color: white;
    margin: 40px 20px;
    height: 200px;
    border-radius: 10px;
}

.box title {
    font-size: 30px;
    margin-bottom: 20px;
}

#team {
    background: linear-gradient(180deg, #017c2c 50%, #fff 50%);
    display: flex;
    justify-content: center;
    align-items: center;
}


.member {
    width: 200px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    height: 250px;
    background: white;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    overflow-y: scroll;
}

.member .name {
    color: #017c2c;
    font-weight: bold;
    font-size: 20px;
    margin: 20px;
    display: flex;
    justify-content: center;
}

.member::-webkit-scrollbar-thumb {
    display: none;
}

.member::-webkit-scrollbar {
    display: none;
}

.left-to-right {
    transform: translateX(-200%);
    transition: 1s;
}

.right-to-left {
    transform: translateX(200%);
    transition: 1s;
}

.right-to-left.start,
.left-to-right.start {
    transform: translateX(0);
}

.zoom {
    transform: scale(0);
    transition: 1s;
}

.zoom.start {
    transform: scale(1);
}